In [3]:
def greet(name):
  print(f"Hello,{name}!")

greet("Dave")

Hello,Dave!

In [6]:
#local scope and Global scope
x=5
def outer_funtion():
  y=10
  def inner_function():
    z=x+y
    return z
  return inner_function()

outer_funtion()

15

In [7]:
#code to find primes between 1 to 100
def find_primes():
  for num in range(2,101):
    for i in range(2,num):
      if num%i==0:
        break
    else:
      print(num)
find_primes()

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [10]:
#code to check given input number is prime or not
def check_prime(num):
  for i in range(2,num):
    if num%i==0:
      print(f"{num} is not a prime number")
      break
    else:
      print(f"{num} is a prime number")
      break

n=int(input("Enter a number:"))
check_prime(n)

Enter a number:23
23 is a prime number

In [14]:
#write a python funtion to find maximum of two numbers
def max(x,y):
  if x>y:
    return x
  else:
    return y


num1=int(input("Enter first number:"))
num2=int(input("Enter second number:"))
print(f"maximum number between {num1} and {num2} is:",max(num1,num2))

Enter first number:321
Enter second number:234
maximum number between 321 and 234 is: 321

In [15]:
def max(x,y,z):
  if x>y and x>z:
    return x
  elif y>x and y>z:
    return y
  else:
    return z

max(10,20,40)

40

In [23]:
#program to build a stack
stack=[]
def PUSH(stack,item):
  stack.append(item)
  print(f"{item} pushed to stack")

def POP(item):
  if not stack:
    return "stack is empty"
  return stack.pop(),"is removed from stack"

def is_empty(stack):
  return len(stack)==0

def PEEK(stack):
  if not stack:
    return "stack is empty"
  else:
    return stack

def size(stack):
  return len(stack)


PUSH(stack,10)
PUSH(stack,20)
PUSH(stack,30)
print(POP(stack))
print(is_empty(stack))
print(PEEK(stack))
print(size(stack))

10 pushed to stack
20 pushed to stack
30 pushed to stack
(30, 'is removed from stack')
False
[10, 20]
2

In [39]:
#code to perform bubble sort
def bubble_sort(list):
  for i in range(len(list)-1):
    for j in range(len(list)-i-1):
      if list[j]>list[j+1]:
        list[j],list[j+1]=list[j+1],list[j]
  return list

list=[]
n=int(input("Enter number of elements in list:"))
for i in range(0,n):
  element=int(input())
  list.append(element)

bubble_sort(list)

Enter number of elements in list:5
45
23
99
32
1

[1, 23, 32, 45, 99]